// Color
// ===

// Neutral Colors
// ---

.u-color-neutral-30 {
    color: $neutral-30 !important;

    fill: $neutral-30 !important;
}

.u-color-neutral-40 {
    color: $neutral-40 !important;

    fill: $neutral-40 !important;
}

.u-color-neutral-50 {
    color: $neutral-50 !important;

    fill: $neutral-50 !important;
}

.u-color-neutral-60 {
    color: $neutral-60 !important;

    fill: $neutral-60 !important;
}

.u-color-neutral-70 {
    color: $neutral-70 !important;

    fill: $neutral-70 !important;
}


// Other Colors
// ---

.u-color-brand {
    color: $brand-color !important;

    fill: $brand-color !important;
}

.u-color-accent {
    color: $accent-color !important;

    fill: $accent-color !important;
}

.u-color-success {
    color: $success-color !important;

    fill: $success-color !important;
}

.u-color-error {
    color: $error-color !important;

    fill: $error-color !important;
}

.u-link-color {
    color: $link-color !important;

    fill: $link-color !important;
}

.u-sale-color {
    color: $sale-color !important;

    fill: $sale-color !important;
}


// Background Colors
// ---

.u-bg-color-neutral-30 {
    background-color: $neutral-30 !important;
}

.u-bg-color-error {
    background-color: $error-color !important;
}

.u-bg-color-light-error {
    background-color: $light-error-color !important;
}
