// Layout utils
// ===

// Floats
// ---
//
// Writing-direction independent floats. For RTL stylesheets, re-define
// these styles with the opposite direction. Templates need not be changed.

.u-float-start {
    float: left !important;
}

.u-float-end {
    float: right !important;
}


// Contain floats
// ---
//
// Contain all floated children and their margins.
//
// 1. Avoid an Opera bug when the contenteditable attribute is included anywhere
//    else in the document.
// 2. Contain the the first child’s top margin. Ensures rendering is consistent
//    with the other common clearfix method, `overflow: hidden`.

.u-clearfix {
    &::before,
    &::after {
        content: ' ' !important; // 1

        display: table !important; // 2
    }

    &::after {
        clear: both !important;
    }
}


// Positioning context
// ---
//
// Create a new positioning context.

.u-position-context {
    position: relative !important;
}


// Block Formatting Context
// ---
//
// Create a new Block Formatting Context. BFCs won’t overlap adjacent floats and
// will contain floated children and their margins.

.u-block-context {
    overflow: hidden !important;
}
