[
    {
        "scope": "https://mobify-tech-prtnr-na03-dw.demandware.net:443",
        "method": "GET",
        "path": "/s/2017refresh/dw/shop/v17_8/products/1?expand=availability%2Cprices%2Cvariations%2Cimages&all_images=true",
        "body": "",
        "status": 404,
        "response": {
            "_v": "17.8",
            "fault": {
                "arguments": {
                    "productId": "1",
                    "siteId": "2017refresh"
                },
                "type": "ProductNotFoundException",
                "message": "No product with ID '1' for site '2017refresh' could be found."
            }
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "sTQ0nRQqQ11kAAAK",
            "Content-Type",
            "application/json;charset=UTF-8"
        ]
    }
]