[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/authorizationserver/oauth/token",
    "body": "client_id=mobile_android&client_secret=secret&grant_type=client_credentials",
    "status": 200,
    "response": {
      "access_token": "22cdafef-a37b-428b-a028-a16f05ff05ff",
      "token_type": "bearer",
      "expires_in": 38125,
      "scope": "merlinspotions"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/anonymous?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "userWsDTO",
      "name": "Anonymous",
      "uid": "anonymous",
      "currency": {
        "active": true,
        "isocode": "JPY",
        "name": "Japanese Yen",
        "symbol": "¥"
      },
      "firstName": "Anonymous",
      "lastName": ""
    },
    "rawHeaders": [
      "private",
      "Content-Type",
      "application/json",
      "Wed, 29 Aug 2018 18:11:37 GMT",
      "ETag",
      "\"012a88e11593fc79d07272fafd2825ce0\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "251",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/anonymous/carts?fields=FULL",
    "body": "",
    "status": 201,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": false,
      "code": "00018756",
      "deliveryItemsQuantity": 0,
      "deliveryOrderGroups": [],
      "entries": [],
      "guid": "1c1a2c6b-14b9-4450-a2cd-8077768461eb",
      "net": false,
      "orderDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "pickupItemsQuantity": 0,
      "pickupOrderGroups": [],
      "productDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "site": "apparel-uk",
      "store": "apparel-uk",
      "subTotal": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalItems": 0,
      "totalPrice": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalPriceWithTax": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalTax": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "potentialOrderPromotions": [],
      "potentialProductPromotions": [],
      "totalUnitCount": 0
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/anonymous/carts/1c1a2c6b-14b9-4450-a2cd-8077768461eb/entries?fields=FULL",
    "body": {
      "product": {
        "code": "300515779"
      },
      "quantity": 1
    },
    "status": 200,
    "response": {
      "entry": {
        "basePrice": {
          "currencyIso": "GBP",
          "formattedValue": "£20.21",
          "priceType": "BUY",
          "value": 20.21
        },
        "entryNumber": 0,
        "product": {
          "availableForPickup": true,
          "baseOptions": [
            {
              "selected": {
                "code": "300515779",
                "priceData": {
                  "currencyIso": "GBP",
                  "formattedValue": "£20.21",
                  "priceType": "BUY",
                  "value": 20.21
                },
                "stock": {
                  "stockLevel": 30,
                  "stockLevelStatus": "inStock"
                },
                "url": "/Categories/Accessories/Bandanas/BT-Airhole-Helgasons-Facemask/p/300515779",
                "variantOptionQualifiers": [
                  {
                    "name": "Style",
                    "qualifier": "style",
                    "value": "tiedie"
                  },
                  {
                    "name": "Size",
                    "qualifier": "size",
                    "value": "LXL"
                  }
                ]
              },
              "variantType": "ApparelSizeVariantProduct"
            },
            {
              "selected": {
                "code": "111160_tiedie",
                "priceData": {
                  "currencyIso": "GBP",
                  "formattedValue": "£20.21",
                  "priceType": "FROM",
                  "value": 20.21
                },
                "stock": {
                  "stockLevel": 0,
                  "stockLevelStatus": "outOfStock"
                },
                "url": "/Categories/Accessories/Bandanas/BT-Airhole-Helgasons-Facemask/p/111160_tiedie",
                "variantOptionQualifiers": [
                  {
                    "image": {
                      "format": "30Wx30H",
                      "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxMzQ4fGltYWdlL2pwZWd8aW1hZ2VzL2gxNi9oMzYvODc5NjI2ODMzMTAzOC5qcGd8ZWUwMGRiZmZjZTMxMGYyNWNlMTY2MjI3N2Q4Yjk3OTM1MzFjYzk1Zjk1YjA2MWJkMDdmNmQ3MzE0N2M3NjFjMA"
                    },
                    "name": "Style",
                    "qualifier": "style",
                    "value": "tiedie"
                  }
                ]
              },
              "variantType": "ApparelStyleVariantProduct"
            }
          ],
          "baseProduct": "111160_tiedie",
          "categories": [
            {
              "code": "221600",
              "url": "/Categories/Accessories/Bandanas/c/221600"
            },
            {
              "code": "Blue Tomato",
              "image": {
                "format": "96Wx96H",
                "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1NzkxfGltYWdlL2pwZWd8aW1hZ2VzL2gxYS9oMTEvODc5NjE2OTczMjEyNi5qcGd8YWM2NmYyMmQ5OTI5ZTBkNzAyMjhhNzQzNjAwMGZiY2JhYjQ2M2Q5NjMyNzcwMDg5NWM0ODA5NDVjYzhjODk0NQ"
              },
              "url": "/Brands/Blue-Tomato/c/Blue%20Tomato"
            }
          ],
          "code": "300515779",
          "images": [
            {
              "altText": "BT Airhole Helgasons Facemask tiedie LXL",
              "format": "zoom",
              "imageType": "PRIMARY",
              "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1OTk5NnxpbWFnZS9qcGVnfGltYWdlcy9oMjcvaDg1Lzg3OTYyNjgwMzYxMjYuanBnfDM0ODg3MGI4NTY1OGQ0YTFmZmJmY2ZlOWI1OWNjODEzY2E0MGRmOTY5NjllZjI5ZTZmODQ4YmU0NTgwMDIwZmY"
            },
            {
              "altText": "BT Airhole Helgasons Facemask tiedie LXL",
              "format": "product",
              "imageType": "PRIMARY",
              "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wyMzgyMHxpbWFnZS9qcGVnfGltYWdlcy[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/anonymous/carts/1c1a2c6b-14b9-4450-a2cd-8077768461eb?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018756",
      "deliveryItemsQuantity": 1,
      "deliveryOrderGroups": [
        {
     [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/anonymous/carts/1c1a2c6b-14b9-4450-a2cd-8077768461eb/vouchers",
    "body": "voucherId=integration-test-do-not-edit-5",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/anonymous/carts/1c1a2c6b-14b9-4450-a2cd-8077768461eb?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [
        {
          "consumedEntries": [],
          "promotion": {
            "code": "integration-test-do-not-edit-5",
            "couldFireMessages": [],
            "firedMessages": [],
            "promotionType": "Rule Based Promotion"
          }
        }
      ],
      "appliedProductPromotions": [],
      "appliedVouchers": [
        {
          "code": "integration-test-do-not-edit-5",
          "freeShipping": false,
          "voucherCode": "integration-test-do-not-edit-5"
        }
      ],
      "calculated": true,
      "code": "00018756",
      "deliveryItemsQuantity": 1,
      "deliveryOrderGroups": [
        {
          "entries": [
            {
              "basePrice": {
                "currencyIso": "GBP",
                "formattedValue": "£20.21",
                "priceType": "BUY",
                "value": 20.21
              },
              "entryNumber": 0,
              "product": {
                "availableFor[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "DELETE",
    "path": "/rest/v2/apparel-uk/users/anonymous/carts/1c1a2c6b-14b9-4450-a2cd-8077768461eb/vouchers/integration-test-do-not-edit-5",
    "body": "",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
[...]
