[
    {
        "scope": "https://zzrf-001.sandbox.us01.dx.commercecloud.salesforce.com:443",
        "method": "GET",
        "path": "/s/RefArch/dw/shop/v20_4/products/(1,2)?expand=availability%2Cprices%2Cvariations%2Cimages&all_images=true",
        "body": "",
        "status": 200,
        "response": {
            "_v": "20.4",
            "_type": "product_result",
            "count": 0,
            "total": 0
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "QQEkLym8c1_OxTMK",
            "allow",
            "GET,HEAD,OPTIONS",
            "x-dw-version-status",
            "deprecated",
            "jweb",
            "y",
            "content-type",
            "application/json;charset=UTF-8"
        ]
    }
]