[
    {
        "scope": "https://zzrf-001.sandbox.us01.dx.commercecloud.salesforce.com:443",
        "method": "GET",
        "path": "/s/RefArch/dw/shop/v20_4/stores/store1",
        "body": "",
        "status": 200,
        "response": {
            "_v": "20.4",
            "_type": "store",
            "address1": "10 Presidential Way",
            "city": "Woburn",
            "country_code": "US",
            "email": "store@email.com",
            "fax": "800-800-8000",
            "id": "store1",
            "latitude": 42.527333,
            "longitude": -71.137583,
            "name": "Commerce Cloud",
            "pos_enabled": false,
            "postal_code": "01801",
            "state_code": "MA",
            "store_events": "Men's Denim Jeans $20 off!<br />\r\nAll Men's T-shirts are 2 for $40!<br />",
            "store_hours": "Mon - Sat: 10am - 9pm<br />\r\nSun: 12pm - 6pm",
            "store_locator_enabled": true,
            "c_countryCodeValue": "US",
            "c_inventoryListId": "inventory_m_store_store1"
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "QQEmLym8c1_OxTMK",
            "content-language",
            "en-US",
            "allow",
            "GET,HEAD,OPTIONS",
            "x-dw-version-status",
            "deprecated",
            "jweb",
            "y",
            "content-type",
            "application/json;charset=UTF-8"
        ]
    }
]