[
    {
        "scope": "https://zzrf-001.sandbox.us01.dx.commercecloud.salesforce.com:443",
        "method": "GET",
        "path": "/s/RefArch/dw/shop/v20_4/products/1?expand=availability%2Cprices%2Cvariations%2Cimages&all_images=true",
        "body": "",
        "status": 404,
        "response": {
            "_v": "20.4",
            "fault": {
                "arguments": {
                    "productId": "1",
                    "siteId": "RefArch"
                },
                "type": "ProductNotFoundException",
                "message": "No product with ID '1' for site 'RefArch' could be found."
            }
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "QQEiLyi8c1_OxTMK",
            "jweb",
            "y",
            "content-type",
            "application/json;charset=UTF-8"
        ]
    }
]