[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/catalogs/apparelProductCatalog/Online/categories/320000",
    "body": "",
    "status": 200,
    "response": {
      "type": "categoryHierarchyWsDTO",
      "id": "320000",
      "name": "Bikewear",
      "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/320000",
      "subcategories": [
        {
          "id": "320500",
          "name": "MTB Jackets",
          "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/320500",
          "subcategories": []
        },
        {
          "id": "321000",
          "name": "MTB Gloves wmn",
          "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/321000",
          "subcategories": []
        },
        {
          "id": "320700",
          "name": "MTB Shirt wmn",
          "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/320700",
          "subcategories": []
        },
        {
          "id": "321100",
          "name": "MTB Jackets wmn",
          "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/321100",
          "subcategories": []
        },
        {
          "id": "320100",
          "name": "MTB Shirts",
          "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/320100",
          "subcategories": []
        },
        {
          "id": "320800",
          "name": "MTB Shorts wmn",
          "url": "/apparel-uk/catalogs/apparelProductCatalog/Online/categories/320800",
          "subcategories": []
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
[...]
