[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/stores?latitude=0&pageSize=20&sort=relevance&currentPage=0&fields=FULL&longitude=0",
    "body": "",
    "status": 200,
    "response": {
      "boundEastLongitude": 0,
      "boundNorthLatitude": 0,
      "boundSouthLatitude": 0,
      "boundWestLongitude": 0,
      "pagination": {
        "currentPage": 0,
        "pageSize": 20,
        "totalPages": 0,
        "totalResults": 0
      },
      "sourceLatitude": 0,
      "sourceLongitude": 0,
      "stores": []
    },
    "rawHeaders": [
      "public, max-age=1800",
      "Content-Type",
      "application/json",
      "Sat, 25 Aug 2018 00:58:09 GMT",
      "ETag",
      "\"0a468264843f3c1fd0aee0c27e73337ad\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "X-Total-Count",
      "0",
      "1; mode=block",
      "323",
      "Close"
    ]
  }
]