[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/stores/London%20Hospital?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "address": {
        "country": {
          "isocode": "GB",
          "name": "United Kingdom"
        },
        "defaultAddress": false,
        "formattedAddress": "Stadium Road, London, SE18 4QH, United Kingdom",
        "id": "8796093513751",
        "line1": "Stadium Road",
        "phone": "+44 20 2199 7080",
        "postalCode": "SE18 4QH",
        "shippingAddress": false,
        "town": "London",
        "visibleInAddressBook": true
      },
      "displayName": "London Hospital",
      "features": {
        "entry": [
          {
            "key": "wheelchair",
            "value": "Wheelchair Access"
          },
          {
            "key": "buyOnlinePickupInStore",
            "value": "Buy Online Pick Up In Store"
          },
          {
            "key": "sundayWorkshops",
            "value": "Sunday Workshops"
          },
          {
            "key": "creche",
            "value": "Creche"
          }
        ]
      },
      "geoPoint": {
        "latitude": 51.477259,
        "longitude": 0.051145
      },
      "name": "London Hospital",
      "openingHours": {
        "code": "apparel-uk-weekend-hours",
        "specialDayOpeningList": [],
        "weekDayOpeningList": [
          {
            "closingTime": {
              "formattedHour": "20:00",
              "hour": 8,
              "minute": 0
            },
            "openingTime": {
              "formattedHour": "09:00",
              "hour": 9,
              "minute": 0
            },
            "closed": false,
            "weekDay": "Mon"
          },
          {
            "closingTime": {
              "formattedHour": "20:00",
              "hour": 8,
              "minute": 0
            },
            "openingTime": {
              "formattedHour": "09:00",
              "hour": 9,
              "minute": 0
            },
            "closed": false,
            "weekDay": "Tue"
          },
          {
            "closingTime": {
              "formattedHour": "20:00",
              "hour": 8,
              "minute[...]
