[
  {
    "scope": "https://mobify-tech-prtnr-na03-dw.demandware.net:443",
    "method": "GET",
    "path": "/s/2017refresh/dw/shop/v17_8/stores/the_academy_of_magical_arts",
    "body": "",
    "status": 200,
    "response": {
      "_v": "17.8",
      "_type": "store",
      "address1": "7001 Franklin Avenue",
      "city": "Hollywood",
      "country_code": "US",
      "email": "giftshop@magiccastle.com",
      "id": "the_academy_of_magical_arts",
      "image": "https://mobify-tech-prtnr-na03-dw.demandware.net/on/demandware.static/-/Sites/default/dw27de5057/ama-logo.png",
      "inventory_id": "Mobify",
      "latitude": 34.014613,
      "longitude": -118.225606,
      "name": "The Academy of Magical Arts",
      "phone": "(323)-851-3313",
      "pos_enabled": false,
      "postal_code": "90028",
      "state_code": "California",
      "store_hours": "<p>Monday - Friday 8:00am - 10:00pm</p>\n\n<p>Saturdays 9:00am - 10:00pm</p>\n\n<p>Sundays 9:00am - 8:00pm</p>\n",
      "store_locator_enabled": true,
      "c_countryCodeValue": "US"
    },
    "rawHeaders": [
      "x-dw-request-base-id",
      "7XbC8KmpgFt5AAAK",
      "Allow",
      "GET,HEAD,OPTIONS",
      "x-dw-version-status",
      "deprecated",
      "Content-Language",
      "en-US",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  }
]