[
    {
        "scope": "https://hybris.merlinspotions.com:443",
        "method": "POST",
        "path": "/authorizationserver/oauth/token",
        "body": "client_id=mobile_android&client_secret=secret&grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "bbc7fa36-5822-4147-b90b-806b8f46b0de",
            "token_type": "bearer",
            "expires_in": 5774,
            "scope": "merlinspotions"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=UTF-8"
        ]
    },
    {
        "scope": "https://hybris.merlinspotions.com:443",
        "method": "GET",
        "path": "/rest/v2/apparel-uk/users/anonymous?fields=FULL",
        "body": "",
        "status": 200,
        "response": {
            "type": "userWsDTO",
            "name": "Anonymous",
            "uid": "anonymous",
            "currency": {
                "active": true,
                "isocode": "JPY",
                "name": "Japanese Yen",
                "symbol": "¥"
            },
            "firstName": "Anonymous",
            "lastName": ""
        },
        "rawHeaders": [
            "private",
            "Content-Type",
            "application/json",
            "Thu, 07 Mar 2019 18:27:23 GMT",
            "ETag",
            "\"012a88e11593fc79d07272fafd2825ce0\"",
            "Apache-Coyote/1.1",
            "max-age=16070400 ; includeSubDomains",
            "nosniff",
            "SAMEORIGIN",
            "1; mode=block",
            "251",
            "Close"
        ]
    }
]