[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/2?fields=FULL",
    "body": "",
    "status": 400,
    "response": {
      "errors": [
        {
          "message": "Product with code '2' not found!",
          "type": "UnknownIdentifierError"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/300659388?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": true,
      "baseOptions": [
        {
          "options": [
            {
              "code": "300659388",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£283.46",
                "priceType": "BUY",
                "value": 283.46
              },
              "stock": {
                "stockLevel": 21,
                "stockLevelStatus": "inStock"
              },
              "url": "/Categories/Accessories/Videocamera/HD-Hero2-Outdoor-Edition/p/300659388",
              "variantOptionQualifiers": [
                {
                  "name": "Style",
                  "qualifier": "style",
                  "value": "uni"
                },
                {
                  "name": "Size",
                  "qualifier": "size",
                  "value": "Uni"
                }
              ]
            }
          ],
          "selected": {
            "code": "300659388",
            "priceData": {
              "currencyIso": "GBP",
              "formattedValue": "£283.46",
              "priceType": "BUY",
              "value": 283.46
            },
            "stock": {
              "stockLevel": 21,
              "stockLevelStatus": "inStock"
            },
            "url": "/Categories/Accessories/Videocamera/HD-Hero2-Outdoor-Edition/p/300659388",
            "variantOptionQualifiers": [
              {
                "name": "Style",
                "qualifier": "style",
                "value": "uni"
              },
              {
                "name": "Size",
                "qualifier": "size",
                "value": "Uni"
              }
            ]
          },
          "variantType": "ApparelSizeVariantProduct"
        },
        {
          "options": [
            {
              "code": "130663_uni",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£283.46",
                "priceType": "FROM",
                "value": 283.46
              },
              "stock": {
                "stockLevel": 0,
                "stockLevelStatus": "outOfStock"
              },
              "url": "/Categories/Accessories/Videocamera/HD-Hero2-Outdoor-Edition/p/130663_uni",
              "variantOptionQualifiers": [
                {
                  "image": {
                    "format": "30Wx30H",
                    "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxNDE4fGltYWdlL2pwZWd8aW1hZ2VzL2gwNy9oOWQvODc5NjI2ODkyMDg2Mi5qcGd8NjJmYjAzMjdiYmM3ZTc1YTE0Yzg3NWE3YTRiMmRlNTlmMmJkMDdkMDdhZTc2OWI5OTdiNzRjMzM4NWYyYWY1YQ"
                  },
                  "name": "Style",
                  "qualifier": "style",
                  "value": "uni"
                }
              ]
            }
          ],
          "selected": {
            "code": "130663_uni",
            "priceData": {
              "currencyIso": "GBP",
              "formattedValue": "£283.46",
              "priceType": "FROM",
              "value": 283.46
            },
            "stock": {
              "stockLevel": 0,
              "stockLevelStatus": "outOfStock"
            },
            "url": "/Categories/Accessories/Videocamera/HD-Hero2-Outdoor-Edition/p/130663_uni",
            "variantOptionQualifiers": [
              {
                "image": {
                  "format": "30Wx30H",
                  "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxNDE4fGltYWdlL2pwZWd8aW1hZ2VzL2gwNy9oOWQvODc5NjI2ODkyMDg2Mi5qcGd8NjJmYjAzMjdiYmM3ZTc1YTE0Yzg3NWE3YTRiMmRlNTlmMmJkMDdkMDdhZTc2OWI5OTdiNzRjMzM4NWYyYWY1YQ"
                },
                "name": "Style",
                "qualifier": "style",
                "value": "uni"
              }
            ]
          },
          "variantType": "ApparelStyleVariantProduct"
        }
      ],
      "baseProduct": "130663_uni",
      "categories": [
        {
          "code": "222000",
          "url": "/Categories/Accessories/Videocamera/c/222000"
        },
        {
          "code": "GoPro Cam",
          "image": {
            "format": "96Wx96H",
            "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1ODI1fGltYWdlL2pwZWd8aW1hZ2VzL2gwNi9oYjkvODc5NjE3MjY0ODQ3OC5qcGd8ZDE3YTEwNjBhMGZhNzRmZjUwMTUzNTBiN2I4MmM5MDczMGIwNjNlZWE4Y2EwYmUyY2EyMWRiZWM0NmY5ODY3OA"
          },
          "url": "/Brands/GoPro-Cam/c/GoPro%20Cam"
        }
      ],
      "code": "300659388",
      "description": "The HD HERO2: Outdoor Edition is the most advanced GoPro camera yet. Wearable and gear mountable, waterproof to 197? (60m), capable of capturing professional full 170º wide angle 1080p video and 11 megapixel photos at a rate of 10 photos per second, the HD HERO2 is the world’s most versatile camera. Whether your goal is to capture a great day out with friends or you’re gunning for the cover of a magazine, the HD HERO2: Outdoor Edition can help you nail it and look like a HERO.<br /><br />Included are mounting accessories you’re most likely to use during outdoor sports like biking, skiing, skating, kayaking and so on.<br /><br />The HD HERO2: Outdoor Edition is compatible with all GoPro expansion accessories and BacPacs™, including the Wi-Fi BacPac and Wi-Fi Remote (coming soon).<br /><br />Features:<br /><br />+ 11MP HD HERO2 Camera<br />+ Waterproof Housing (197? / 60m)<br />+ HD Skeleton Backdoor<br />+ Rechargeable Li-ion Battery<br />+ USB Cable<br />+ Vented Helmet [...]
[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/130663_uni?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "130663_uni",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£283.46",
                "priceType": "FROM",
           [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_purple?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "FROM"[...]
[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [],
      "categories": [
        {
          "code": "220500",
          "url": "/Categories/Accessories/Beanies/c/220500"
        },
        {
          "code": "Elm",
          "image": {
            "format": "96Wx96H",
            "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w4MDg1fGltYWdlL2pwZWd8aW1hZ2VzL2gzNC9oYzUvODc5NjE3MDI1NjQxNC5qcGd8MWU4MmU4YTM2N2FlZjE5NzliOGE1OTBhYTU3YmUyM2FlZGE4YTM4MzI1YjczOGVlMTQxZGVhMzI3M2ExZDM3ZA"
          },
          "url": "/Brands/Elm/c/Elm"
        }
      ],
      "code": "104668",
      "description": "",
      "images": [
        {
          "altText": "The Reservoir Beanie",
          "format": "zoom",
          "imageType": "PRIMARY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wzOTYxMHxpbWFnZS9qcGVnfGltYWdlcy9oYTgvaDliLzg3OTYyNzMwMTY4NjIuanBnfGZlZDU4OGQzM2RhNWMyZTEyY2I5NjdlMGEwODAwMWQ4YmNiMWQ3YmUxYWEwNTdjMzJhOTU2NDE2Nzc4ZTI5ZDM"
        },
        {
          "altText": "The Reservoir Beanie",
          "format": "product",
          "imageType": "PRIMARY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxMzU0NHxpbWFnZS9qcGVnfGltYWdlcy9oMjUvaDIzLzg3OTYyNzI5NTEzMjYuanBnfGEwYTJlNzE4MTEwMDliOTY1MWI3NzU5ZmZkNGZiMDQwYWVlMDNkZmUwZTE5ZDU3MWVhODA2YTZmZDc4M2Q0NDA"
        },
        {
          "altText": "The Reservoir Beanie",
          "format": "thumbnail",
          "imageType": "PRIMARY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wyNzYyfGltYWdlL2pwZWd8aW1hZ2VzL2gyYS9oNmYvODc5NjI3MzA0OTYzMC5qcGd8YjJiNWM4ODlhMmFlNzY4NTQ0OTgxZTE1ZWY3NDVhMmM0OGFkYWFmYzA4ODEwYTI4MjE3MThkOTY1M2UyMTYxMw"
        },
        {
          "altText": "The Reservoir Beanie",
          "format": "cartIcon",
          "imageType": "PRIMARY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxOTMyfGltYWdlL2pwZWd8aW1hZ2VzL2hmZS9oNjYvODc5NjI3MzExNTE2Ni5qcGd8NDZhYzVhYTA4YTU4MWJhOWJiMjRjNWU5YjVhMTEwYTNkNzI2ZGRiMDcwZmNlODRkZGRhYjRmMWUzZjcxNTQ5YQ"
        },
        {
          "altText": "The Reservoir Beanie",
          "format": "zoom",
          "galleryIndex": 0,
          "imageType": "GALLERY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wzOTYxMHxpbWFnZS9qcGVnfGltYWdlcy9oYTgvaDliLzg3OTYyNzMwMTY4NjIuanBnfGZlZDU4OGQzM2RhNWMyZTEyY2I5NjdlMGEwODAwMWQ4YmNiMWQ3YmUxYWEwNTdjMzJhOTU2NDE2Nzc4ZTI5ZDM"
        },
        {
          "altText": "The Reservoir Beanie",
          "format": "product",
          "galleryIndex": 0,
          "imageType": "GALLERY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxMzU0NHxpbWFnZS9qcGVnfGltYWdlcy9oMjUvaDIzLzg3OTYyNzI5NTEzMjYuanBnfGEwYTJlNzE4MTEwMDliOTY1MWI3NzU5ZmZkNGZiMDQwYWVlMDNkZmUwZTE5ZDU3MWVhODA2YTZmZDc4M2Q0NDA"
        },
        {
          "altText": "The Reservoir Beanie",
          "format": "thumbnail",
          "galleryIndex": 0,
          "imageType": "GALLERY",
          "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wyNzYyfGltYWdlL2pwZWd8aW1hZ2VzL2gyYS9oNmYvODc5NjI3MzA0OTYzMC5qcGd8YjJiNWM4ODlhMmFlNzY4NTQ0OTgxZTE1ZWY3NDVhMmM0OGFkYWFmYzA4ODEwYTI4MjE3MThkOTY1M2UyMTYxMw"
        }
      ],
      "name": "The Reservoir Beanie",
      "numberOfReviews": 0,
      "potentialPromotions": [],
      "price": {
        "currencyIso": "GBP",
        "formattedValue": "£14.54",
        "priceType": "FROM",
        "value": 14.54
      },
      "priceRange": {},
      "productReferences": [],
      "purchasable": false,
      "reviews": [],
      "stock": {
        "stockLevel": 0,
        "stockLevelStatus": "outOfStock"
      },
      "summary": "<p> You will not find a more typical Beanie for Elm than the Reservoir Beanie. This beanie really has the \"Elm Fit\". </p><p>100% Acrylic</p>",
      "url": "/apparel-uk/products/104668",
      "variantOptions": [
        {
          "code": "104668_caribbean_blue",
          "priceData": {
            "currencyIso": "GBP",
            "formattedValue": "£14.54",
            "priceType": "FROM",
            "value": 14.54
          },
          "stock": {
            "stockLevel": 0,
            "stockLevelStatus": "outOfStock"
          },
          "url": "/Categories/Accessories/Beanies/The-Reservoir-Beanie/p/104668_caribbean_blue",
          "variantOptionQualifiers": [
            {
              [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_royal_blue?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "F[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_red?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "FROM",
 [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_yellow?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "FROM"[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_kelly_green?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_magenta?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "FROM[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_charcoal?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "FRO[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_white?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType": "FROM",[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/products/104668_caribbean_blue?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "availableForPickup": false,
      "baseOptions": [
        {
          "options": [
            {
              "code": "104668_caribbean_blue",
              "priceData": {
                "currencyIso": "GBP",
                "formattedValue": "£14.54",
                "priceType"[...]
