[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/authorizationserver/oauth/token",
    "body": "client_id=mobile_android&client_secret=secret&grant_type=client_credentials",
    "status": 200,
    "response": {
      "access_token": "bd005ccf-f46d-48be-b717-5cb112961c23",
      "token_type": "bearer",
      "expires_in": 12186,
      "scope": "merlinspotions"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/anonymous?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "userWsDTO",
      "name": "Anonymous",
      "uid": "anonymous",
      "currency": {
        "active": true,
        "isocode": "JPY",
        "name": "Japanese Yen",
        "symbol": "¥"
      },
      "firstName": "Anonymous",
      "lastName": ""
    },
    "rawHeaders": [
      "private",
      "Content-Type",
      "application/json",
      "Sat, 25 Aug 2018 00:58:11 GMT",
      "ETag",
      "\"012a88e11593fc79d07272fafd2825ce0\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "251",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users",
    "body": {
      "firstName": "test-creating-accounts-firstName",
      "lastName": "test-creating-accounts-lastName",
      "password": "test-creating-accounts-Pa55word",
      "titleCode": "ms",
      "uid": "test-creating-accounts-email@example.com"
    },
    "status": 201,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/authorizationserver/oauth/token",
    "body": "client_id=mobile_android&client_secret=secret&grant_type=password&username=test-creating-accounts-email%40example.com&password=test-creating-accounts-Pa55word",
    "status": 200,
    "response": {
      "access_token": "1b32d547-1ca2-4c94-ab91-495a32bd4133",
      "token_type": "bearer",
      "refresh_token": "c9aa4bc7-29bb-4ce8-a574-bd3c57723a19",
      "expires_in": 43199,
      "scope": "merlinspotions"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "userWsDTO",
      "name": "test-creating-accounts-firstName test-creating-accounts-lastName",
      "uid": "test-creating-accounts-email@example.com",
      "currency": {
        "active": true,
        "isocode": "GBP",
        "name": "Pound",
        "symbol": "£"
      },
      "displayUid": "test-creating-accounts-email@example.com",
      "firstName": "test-creating-accounts-firstName",
      "language": {
        "active": true,
        "isocode": "en",
        "name": "English",
        "nativeName": "English"
      },
      "lastName": "test-creating-accounts-lastName",
      "title": "Ms.",
      "titleCode": "ms"
    },
    "rawHeaders": [
      "private",
      "Content-Type",
      "application/json",
      "Sat, 25 Aug 2018 00:58:12 GMT",
      "ETag",
      "\"0847c89853e6d91b3fe0e5102b98eeb85\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "617",
      "Close"
    ]
  },
[...]
