[
    {
        "scope": "https://mobify-tech-prtnr-na03-dw.demandware.net:443",
        "method": "GET",
        "path": "/s/2017refresh/dw/shop/v17_8/customers/bcyyeR5KK0gGKjf2uZHarcK93Z?expand=addresses%2Cpaymentinstruments",
        "body": "",
        "status": 401,
        "response": {
            "_v": "17.8",
            "fault": {
                "type": "AuthorizationHeaderMissingException",
                "message": "Unauthorized request: The 'Authorization' header is missing."
            }
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "sTSEnOEaQ11kAAAK",
            "Content-Type",
            "application/json;charset=UTF-8"
        ]
    }
]