[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/authorizationserver/oauth/token",
    "body": "client_id=mobile_android&client_secret=secret&grant_type=password&username=mobifyqa%40gmail.com&password=p4ssword",
    "status": 200,
    "response": {
      "access_token": "ef67edde-5b99-4142-8543-c187b8a5c662",
      "token_type": "bearer",
      "refresh_token": "7cc69dc3-574b-4a99-a991-46367526c3d6",
      "expires_in": 41273,
      "scope": "merlinspotions"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "userWsDTO",
      "name": "Mobify Test",
      "uid": "mobifyqa@gmail.com",
      "currency": {
        "active": true,
        "isocode": "GBP",
        "name": "Pound",
        "symbol": "£"
      },
      "defaultAddress": {
        "country": {
          "isocode": "US",
          "name": "United States"
        },
        "defaultAddress": false,
        "firstName": "Donald",
        "formattedAddress": "1600 Pennsylvania Avenue, Washinton, 20500",
        "id": "8796311814167",
        "lastName": "Trump",
        "line1": "1600 Pennsylvania Avenue",
        "phone": "(555) 555-5555",
        "postalCode": "20500",
        "shippingAddress": true,
        "title": "Mr.",
        "titleCode": "mr",
        "town": "Washinton",
        "visibleInAddressBook": true
      },
      "displayUid": "mobifyqa@gmail.com",
      "firstName": "Mobify",
      "language": {
        "active": true,
        "isocode": "en",
        "name": "English",
        "nativeName": "English"
      },
      "lastName": "Test",
      "title": "Mr.",
      "titleCode": "mr"
    },
    "rawHeaders": [
      "private",
      "Content-Type",
      "application/json",
      "Mon, 27 Aug 2018 21:51:04 GMT",
      "ETag",
      "\"05c71a1d033cc087b0ee548f7d9ab2dc7\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "1033",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/carts?fields=FULL",
    "body": "",
    "status": 201,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": false,
      "code": "00018527",
      "deliveryItemsQuantity": 0,
      "deliveryOrderGroups": [],
      "entries": [],
      "guid": "6a059e92-77e3-4e50-9bc9-32dbdb262658",
      "net": false,
      "orderDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "pickupItemsQuantity": 0,
      "pickupOrderGroups": [],
      "productDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "site": "apparel-uk",
      "store": "apparel-uk",
      "subTotal": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalItems": 0,
      "totalPrice": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalPriceWithTax": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalTax": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "potentialOrderPromotions": [],
      "potentialProductPromotions": [],
      "totalUnitCount": 0
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PUT",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/email",
    "body": "email=mobifyqa2%40domain.com",
    "status": 401,
    "response": {
      "errors": [
        {
          "message": "Access is denied",
          "type": "AccessDeniedError"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/entries?fields=FULL",
    "body": {
      "product": {
        "code": "300515779"
      },
      "quantity": 1
    },
    "status": 200,
    "response": {
      "entry": {
        "basePrice": {
          "currencyIso": "GBP",
          "formattedValue": "£20.21",
          "priceType": "BUY",
          "value": 20.21
        },
        "entryNumber": 0,
        "product": {
          "availableForPickup": true,
          "baseOptions": [
            {
              "selected": {
                "code": "300515779",
                "priceData": {
                  "currencyIso": "GBP",
                  "formattedValue": "£20.21",
                  "priceType": "BUY",
                  "value": 20.21
                },
                "stock": {
                  "stockLevel": 30,
                  "stockLevelStatus": "inStock"
                },
                "url": "/Categories/Accessories/Bandanas/BT-Airhole-Helgasons-Facemask/p/300515779",
                "variantOptionQualifiers": [
                  {
                    "name": "Style",
                    "qualifier": "style",
                    "value": "tiedie"
                  },
                  {
                    "name": "Size",
                    "qualifier": "size",
                    "value": "LXL"
                  }
                ]
              },
              "variantType": "ApparelSizeVariantProduct"
            },
            {
              "selected": {
                "code": "111160_tiedie",
                "priceData": {
                  "currencyIso": "GBP",
                  "formattedValue": "£20.21",
                  "priceType": "FROM",
                  "value": 20.21
                },
                "stock": {
                  "stockLevel": 0,
                  "stockLevelStatus": "outOfStock"
                },
                "url": "/Categories/Accessories/Bandanas/BT-Airhole-Helgasons-Facemask/p/111160_tiedie",
                "variantOptionQualifiers": [
                  {
                    "image": {
                      "format": "30Wx30H",
                      "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxMzQ4fGltYWdlL2pwZWd8aW1hZ2VzL2gxNi9oMzYvODc5NjI2ODMzMTAzOC5qcGd8ZWUwMGRiZmZjZTMxMGYyNWNlMTY2MjI3N2Q4Yjk3OTM1MzFjYzk1Zjk1YjA2MWJkMDdmNmQ3MzE0N2M3NjFjMA"
                    },
                    "name": "Style",
                    "qualifier": "style",
                    "value": "tiedie"
                  }
                ]
              },
              "variantType": "ApparelStyleVariantProduct"
            }
          ],
          "baseProduct": "111160_tiedie",
          "categories": [
            {
              "code": "221600",
              "url": "/Categories/Accessories/Bandanas/c/221600"
            },
            {
              "code": "Blue Tomato",
              "image": {
                "format": "96Wx96H",
                "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1NzkxfGltYWdlL2pwZWd8aW1hZ2VzL2gxYS9oMTEvODc5NjE2OTczMjEyNi5qcGd8YWM2NmYyMmQ5OTI5ZTBkNzAyMjhhNzQzNjAwMGZiY2JhYjQ2M2Q5NjMyNzcwMDg5NWM0ODA5NDVjYzhjODk0NQ"
              },
              "url": "/Brands/Blue-Tomato/c/Blue%20Tomato"
            }
          ],
          "code": "300515779",
          "images": [
            {
              "altText": "BT Airhole Helgasons Facemask tiedie LXL",
              "format": "zoom",
              "imageType": "PRIMARY",
              "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1OTk5NnxpbWFnZS9qcGVnfGltYWdlcy9oMjcvaDg1Lzg3OTYyNjgwMzYxMjYuanBnfDM0ODg3MGI4NTY1OGQ0YTFmZmJmY2ZlOWI1OWNjODEzY2E0MGRmOTY5NjllZjI5ZTZmODQ4YmU0NTgwMDIwZmY"
            },
            {
              "altText": "BT Airhole Helgasons Facemask tiedie LXL",
              "format": "product",
              "imageType": "PRIMARY",
              "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wyMzgyMHxpbWFnZS9qcGVnfGltYWdlcy[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018527",
      "deliveryItemsQuantity": 1,
      "deliveryOrderGroups": [
        {
          "entries": [
            [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PATCH",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/entries/0?fields=FULL",
    "body": {
      "product": {
        "code": "300515779"
      },
      "quantity": 2
    },
    "status": 200,
    "response": {
      "entry": {
        "basePrice": {
          "currencyIso": "GBP",
          "formattedValue": "£20.21",
          "priceType": "BUY",
          "value": 20.21
        },
        "entryNumber": [...]
[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "DELETE",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/entries/0",
    "body": "",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/cardtypes?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "cardTypes": [
        {
          "code": "amex",
          "name": "American Express"
        },
        {
          "code": "maestro",
          "name": "Maestro"
        },
        {
          "code": "switch",
          "name": "Switch"
        },
        {
          "code": "visa",
          "name": "Visa"
        },
        {
          "code": "master",
          "name": "Mastercard"
        },
        {
          "code": "mastercard_eurocard",
          "name": "Mastercard/Eurocard"
        },
        {
          "code": "diners",
          "name": "Diner's Club"
        }
      ]
    },
    "rawHeaders": [
      "public, max-age=1800",
      "Content-Type",
      "application/json",
      "Mon, 27 Aug 2018 21:51:08 GMT",
      "ETag",
      "\"02134a1f74a221897c51047822f349b1b\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "464",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/paymentdetails?fields=FULL",
    "body": {
      "accountHolderName": "Donald Trump",
      "billingAddress": {
        "country": {
          "isocode": "GB"
        },
        "firstName": "Donald",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "phone": "4449992222",
        "postalCode": "83920",
        "region": {
          "isocode": "GB-KEN"
        },
        "titleCode": "ms",
        "town": "Liverpool"
      },
      "cardNumber": 411111111111111,
      "cardType": {
        "code": "amex"
      },
      "expiryMonth": 1,
      "expiryYear": 2021
    },
    "status": 201,
    "response": {
      "accountHolderName": "Donald Trump",
      "billingAddress": {
        "country": {
          "isocode": "GB",
          "name": "United Kingdom"
        },
        "defaultAddress": false,
        "email": "mobifyqa@gmail.com",
        "firstName": "Donald",
        "formattedAddress": "333 Rosewood Dr, Liverpool, 83920, United Kingdom",
        "id": "8796663971863",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "postalCode": "83920",
        "shippingAddress": false,
        "title": "Ms.",
        "titleCode": "ms",
        "town": "Liverpool",
        "visibleInAddressBook": true
      },
      "cardNumber": "************1111",
      "cardType": {
        "code": "amex",
        "name": "American Express"
      },
      "defaultPayment": false,
      "expiryMonth": "01",
      "expiryYear": "2021",
      "id": "8796308340778",
      "saved": false,
      "subscriptionId": "MockedSubscriptionID"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PUT",
    "path": "/rest/v2/apparel-uk/users/current/paymentdetails/8796308340778",
    "body": {
      "accountHolderName": "Donald Duck",
      "billingAddress": {
        "country": {
          "isocode": "GB"
        },
        "firstName": "Donald",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "phone": "4449992222",
        "postalCode": "83920",
        "region": {
          "isocode": "GB-KEN"
        },
        "titleCode": "ms",
        "town": "Liverpool"
      },
      "cardNumber": 411111111111111,
      "cardType": {
        "code": "amex"
      },
      "expiryMonth": 1,
      "expiryYear": 2021
    },
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018527",
      "deliveryItemsQuantity": 0,
      "deliveryOrderGroups": [],
      "entries": [],
      "guid": "6a059e92-77e3-4e50-9bc9-32dbdb262658",
      "net": false,
      "orderDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "paymentInfo": {
        "accountHolderName": "Donald Duck",
        "billingAddress": {
          "country": {
            "isocode": "GB",
            "name": "United Kingdom"
          },
          "defaultAddress": false,
          "email": "mobifyqa@gmail.com",
          "firstName": "Donald",
          "formattedAddress": "333 Rosewood Dr, Liverpool, Kent, 83920, United Kingdom",
          "id": "8796663971863",
          "lastName": "Duck",
          "line1": "333 Rosewood Dr",
          "postalCode": "83920",
          "region": {
            "countryIso": "GB",
            "isocode": "GB-KEN",
            "name": "Kent"
          },
          "shippingAddress": false,
          "title": "Ms.",
          "titleCode": "ms",
          "town": "Liverpool",
          "visibleInAddressBook": true
        },
        "cardNumber": "************1111",
        "cardType": {
          "code": "amex",
          "name": "American Express"
        },
        "defaultPayment": false,
        "expiryMonth": "1",
        "expiryYear": "2021",
        "id": "8796[...]
[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/addresses?fields=FULL",
    "body": {
      "country": {
        "isocode": "GB"
      },
      "firstName": "Donald",
      "lastName": "Duck",
      "line1": "333 Rosewood Dr",
      "phone": "4449992222",
      "postalCode": "83920",
      "region": {
        "isocode": "GB-KEN"
      },
      "titleCode": "ms",
      "town": "Liverpool"
    },
    "status": 201,
    "response": {
      "country": {
        "isocode": "GB"
      },
      "defaultAddress": false,
      "firstName": "Donald",
      "id": "8796664004631",
      "lastName": "Duck",
      "line1": "333 Rosewood Dr",
      "postalCode": "83920",
      "region": {
        "isocode": "GB-KEN"
      },
      "shippingAddress": true,
      "titleCode": "ms",
      "town": "Liverpool",
      "visibleInAddressBook": true
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PUT",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/addresses/delivery",
    "body": "addressId=8796664004631",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/deliverymodes?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "deliveryModes": [
        {
          "code": "pickup"
        }
      ]
    },
    "rawHeaders": [
      "no-cache",
      "Content-Type",
      "application/json",
      "Mon, 27 Aug 2018 21:51:11 GMT",
      "ETag",
      "\"00bb6ada24bc1ac2607fd0544fe6d68d0\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "59",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PUT",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527/deliverymode",
    "body": "deliveryModeId=pickup",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018527",
      "deliveryAddress": {
        "country": {
          "isocode": "GB",
          "name": "United Kingdom"
        },
        "defaultAddress": false,
        "firstName": "Donald",
        "formattedAddress": "333 Rosewood Dr, Liverpool, Kent, 83920, United Kingdom",
        "id": "8796664004631",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "postalCode": "83920",
        "region": {
          "countryIso": "GB",
          "isocode": "GB-KEN",
          "name": "Kent"
        },
        "shippingAddress": true,
        "title": "Ms.",
        "titleCode": "ms",
        "town": "Liverpool",
        "visibleInAddressBook": true
      },
      "deliveryCost": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "deliveryItemsQuantity": 0,
      "deliveryMode": {
        "code": "pickup",
        "deliveryCost": {
          "currencyIso": "GBP",
          "formattedValue": "£0.00",
          "priceType": "BUY",
          "value": 0
        }
      },
      "deliveryOrderGroups": [],
      "entries": [],
      "guid": "6a059e92-77e3-4e50-9bc9-32dbdb262658",
      "net": false,
      "orderDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "paymentInfo": {
        [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "DELETE",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527",
    "body": "",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018527?fields=FULL",
    "body": "",
    "status": 400,
    "response": {
      "errors": [
        {
          "message": "Cart not found.",
          "reason": "notFound",
          "subject": "00018527",
          "subjectType": "cart",
          "type": "CartError"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]