[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/authorizationserver/oauth/token",
    "body": "client_id=mobile_android&client_secret=secret&grant_type=password&username=mobifyqa%40gmail.com&password=p4ssword",
    "status": 200,
    "response": {
      "access_token": "5779ed39-2685-462f-bd1e-e2dc901cc959",
      "token_type": "bearer",
      "refresh_token": "37e56528-eb04-4ecb-9964-07ea49602f2b",
      "expires_in": 31735,
      "scope": "merlinspotions"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "userWsDTO",
      "name": "Mobify Test",
      "uid": "mobifyqa@gmail.com",
      "currency": {
        "active": true,
        "isocode": "GBP",
        "name": "Pound",
        "symbol": "£"
      },
      "defaultAddress": {
        "country": {
          "isocode": "US",
          "name": "United States"
        },
        "defaultAddress": false,
        "firstName": "Donald",
        "formattedAddress": "1600 Pennsylvania Avenue, Washinton, 20500",
        "id": "8796311814167",
        "lastName": "Trump",
        "line1": "1600 Pennsylvania Avenue",
        "phone": "(555) 555-5555",
        "postalCode": "20500",
        "shippingAddress": true,
        "title": "Mr.",
        "titleCode": "mr",
        "town": "Washinton",
        "visibleInAddressBook": true
      },
      "displayUid": "mobifyqa@gmail.com",
      "firstName": "Mobify",
      "language": {
        "active": true,
        "isocode": "en",
        "name": "English",
        "nativeName": "English"
      },
      "lastName": "Test",
      "title": "Mr.",
      "titleCode": "mr"
    },
    "rawHeaders": [
      "private",
      "Content-Type",
      "application/json",
      "Sat, 25 Aug 2018 00:58:13 GMT",
      "ETag",
      "\"05c71a1d033cc087b0ee548f7d9ab2dc7\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "1033",
      "Close"
    ]
  }
]