[
    {
        "scope": "https://zzrf-001.sandbox.us01.dx.commercecloud.salesforce.com:443",
        "method": "GET",
        "path": "/s/RefArch/dw/shop/v20_4/customers/bcyyeR5KK0gGKjf2uZHarcK93Z?expand=addresses%2Cpaymentinstruments",
        "body": "",
        "status": 401,
        "response": {
            "_v": "20.4",
            "fault": {
                "type": "AuthorizationHeaderMissingException",
                "message": "Unauthorized request: The 'Authorization' header is missing."
            }
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "QQEyLy28c1_OxTMK",
            "jweb",
            "y",
            "content-type",
            "application/json;charset=UTF-8"
        ]
    }
]