[
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/authorizationserver/oauth/token",
    "body": "client_id=mobile_android&client_secret=secret&grant_type=password&username=mobifyqa%40gmail.com&password=p4ssword",
    "status": 200,
    "response": {
      "access_token": "1c9dcb17-80eb-4d0e-baef-b04bc8f58fbb",
      "token_type": "bearer",
      "refresh_token": "7cc69dc3-574b-4a99-a991-46367526c3d6",
      "expires_in": 43175,
      "scope": "merlinspotions"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "userWsDTO",
      "name": "Mobify Test",
      "uid": "mobifyqa@gmail.com",
      "currency": {
        "active": true,
        "isocode": "GBP",
        "name": "Pound",
        "symbol": "£"
      },
      "defaultAddress": {
        "country": {
          "isocode": "US",
          "name": "United States"
        },
        "defaultAddress": false,
        "firstName": "Donald",
        "formattedAddress": "1600 Pennsylvania Avenue, Washinton, 20500",
        "id": "8796311814167",
        "lastName": "Trump",
        "line1": "1600 Pennsylvania Avenue",
        "phone": "(555) 555-5555",
        "postalCode": "20500",
        "shippingAddress": true,
        "title": "Mr.",
        "titleCode": "mr",
        "town": "Washinton",
        "visibleInAddressBook": true
      },
      "displayUid": "mobifyqa@gmail.com",
      "firstName": "Mobify",
      "language": {
        "active": true,
        "isocode": "en",
        "name": "English",
        "nativeName": "English"
      },
      "lastName": "Test",
      "title": "Mr.",
      "titleCode": "mr"
    },
    "rawHeaders": [
      "private",
      "Content-Type",
      "application/json",
      "Sat, 25 Aug 2018 00:58:39 GMT",
      "ETag",
      "\"05c71a1d033cc087b0ee548f7d9ab2dc7\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "1033",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/carts?fields=FULL",
    "body": "",
    "status": 201,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": false,
      "code": "00018399",
      "deliveryItemsQuantity": 0,
      "deliveryOrderGroups": [],
      "entries": [],
      "guid": "7f2890d9-9a40-4a09-b755-5ff648eef0aa",
      "net": false,
      "orderDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "pickupItemsQuantity": 0,
      "pickupOrderGroups": [],
      "productDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "site": "apparel-uk",
      "store": "apparel-uk",
      "subTotal": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalDiscounts": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalItems": 0,
      "totalPrice": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalPriceWithTax": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "totalTax": {
        "currencyIso": "GBP",
        "formattedValue": "£0.00",
        "priceType": "BUY",
        "value": 0
      },
      "potentialOrderPromotions": [],
      "potentialProductPromotions": [],
      "totalUnitCount": 0
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018399/entries?fields=FULL",
    "body": {
      "product": {
        "code": "300515779"
      },
      "quantity": 1
    },
    "status": 200,
    "response": {
      "entry": {
        "basePrice": {
          "currencyIso": "GBP",
          "formattedValue": "£20.21",
          "priceType": "BUY",
          "value": 20.21
        },
        "entryNumber": 0,
        "product": {
          "availableForPickup": true,
          "baseOptions": [
            {
              "selected": {
                "code": "300515779",
                "priceData": {
                  "currencyIso": "GBP",
                  "formattedValue": "£20.21",
                  "priceType": "BUY",
                  "value": 20.21
                },
                "stock": {
                  "stockLevel": 30,
                  "stockLevelStatus": "inStock"
                },
                "url": "/Categories/Accessories/Bandanas/BT-Airhole-Helgasons-Facemask/p/300515779",
                "variantOptionQualifiers": [
                  {
                    "name": "Style",
                    "qualifier": "style",
                    "value": "tiedie"
                  },
                  {
                    "name": "Size",
                    "qualifier": "size",
                    "value": "LXL"
                  }
                ]
              },
              "variantType": "ApparelSizeVariantProduct"
            },
            {
              "selected": {
                "code": "111160_tiedie",
                "priceData": {
                  "currencyIso": "GBP",
                  "formattedValue": "£20.21",
                  "priceType": "FROM",
                  "value": 20.21
                },
                "stock": {
                  "stockLevel": 0,
                  "stockLevelStatus": "outOfStock"
                },
                "url": "/Categories/Accessories/Bandanas/BT-Airhole-Helgasons-Facemask/p/111160_tiedie",
                "variantOptionQualifiers": [
                  {
                    "image": {
                      "format": "30Wx30H",
                      "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wxMzQ4fGltYWdlL2pwZWd8aW1hZ2VzL2gxNi9oMzYvODc5NjI2ODMzMTAzOC5qcGd8ZWUwMGRiZmZjZTMxMGYyNWNlMTY2MjI3N2Q4Yjk3OTM1MzFjYzk1Zjk1YjA2MWJkMDdmNmQ3MzE0N2M3NjFjMA"
                    },
                    "name": "Style",
                    "qualifier": "style",
                    "value": "tiedie"
                  }
                ]
              },
              "variantType": "ApparelStyleVariantProduct"
            }
          ],
          "baseProduct": "111160_tiedie",
          "categories": [
            {
              "code": "221600",
              "url": "/Categories/Accessories/Bandanas/c/221600"
            },
            {
              "code": "Blue Tomato",
              "image": {
                "format": "96Wx96H",
                "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1NzkxfGltYWdlL2pwZWd8aW1hZ2VzL2gxYS9oMTEvODc5NjE2OTczMjEyNi5qcGd8YWM2NmYyMmQ5OTI5ZTBkNzAyMjhhNzQzNjAwMGZiY2JhYjQ2M2Q5NjMyNzcwMDg5NWM0ODA5NDVjYzhjODk0NQ"
              },
              "url": "/Brands/Blue-Tomato/c/Blue%20Tomato"
            }
          ],
          "code": "300515779",
          "images": [
            {
              "altText": "BT Airhole Helgasons Facemask tiedie LXL",
              "format": "zoom",
              "imageType": "PRIMARY",
              "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3w1OTk5NnxpbWFnZS9qcGVnfGltYWdlcy9oMjcvaDg1Lzg3OTYyNjgwMzYxMjYuanBnfDM0ODg3MGI4NTY1OGQ0YTFmZmJmY2ZlOWI1OWNjODEzY2E0MGRmOTY5NjllZjI5ZTZmODQ4YmU0NTgwMDIwZmY"
            },
            {
              "altText": "BT Airhole Helgasons Facemask tiedie LXL",
              "format": "product",
              "imageType": "PRIMARY",
              "url": "/rest/v2/medias/?context=bWFzdGVyfGltYWdlc3wyMzgyMHxpbWFnZS9qcGVnfGltYWdlcy[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018399?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "cartWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018399",
      "deliveryItemsQuantity": 1,
      "deliveryOrderGroups": [
        {
          "entries": [
            [...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/addresses?fields=FULL",
    "body": {
      "country": {
        "isocode": "GB"
      },
      "firstName": "Donald",
      "lastName": "Duck",
      "line1": "333 Rosewood Dr",
      "phone": "4449992222",
      "postalCode": "83920",
      "region": {
        "isocode": "GB-KEN"
      },
      "titleCode": "ms",
      "town": "Liverpool"
    },
    "status": 201,
    "response": {
      "country": {
        "isocode": "GB"
      },
      "defaultAddress": false,
      "firstName": "Donald",
      "id": "8796659548183",
      "lastName": "Duck",
      "line1": "333 Rosewood Dr",
      "postalCode": "83920",
      "region": {
        "isocode": "GB-KEN"
      },
      "shippingAddress": true,
      "titleCode": "ms",
      "town": "Liverpool",
      "visibleInAddressBook": true
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PUT",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018399/addresses/delivery",
    "body": "addressId=8796659548183",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018399/deliverymodes?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "deliveryModes": [
        {
          "code": "standard-gross",
          "deliveryCost": {
            "currencyIso": "GBP",
            "formattedValue": "£5.99",
            "priceType": "BUY",
            "value": 5.99
          },
          "description": "3-5 business days",
          "name": "Standard Delivery"
        },
        {
          "code": "premium-gross",
          "deliveryCost": {
            "currencyIso": "GBP",
            "formattedValue": "£10.99",
            "priceType": "BUY",
            "value": 10.99
          },
          "description": "1-2 business days",
          "name": "Premium Delivery"
        }
      ]
    },
    "rawHeaders": [
      "no-cache",
      "Content-Type",
      "application/json",
      "Sat, 25 Aug 2018 00:58:42 GMT",
      "ETag",
      "\"0e557d007a7262ebb660e5a2eb3c5750b\"",
      "Apache-Coyote/1.1",
      "max-age=16070400 ; includeSubDomains",
      "nosniff",
      "SAMEORIGIN",
      "1; mode=block",
      "581",
      "Close"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "PUT",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018399/deliverymode",
    "body": "deliveryModeId=standard-gross",
    "status": 200,
    "response": "",
    "rawHeaders": [
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/carts/00018399/paymentdetails?fields=FULL",
    "body": {
      "accountHolderName": "Donald Trump",
      "billingAddress": {
        "country": {
          "isocode": "GB"
        },
        "firstName": "Donald",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "phone": "4449992222",
        "postalCode": "83920",
        "region": {
          "isocode": "GB-KEN"
        },
        "titleCode": "ms",
        "town": "Liverpool"
      },
      "cardNumber": 411111111111111,
      "cardType": {
        "code": "amex"
      },
      "expiryMonth": 1,
      "expiryYear": 2021
    },
    "status": 201,
    "response": {
      "accountHolderName": "Donald Trump",
      "billingAddress": {
        "country": {
          "isocode": "GB",
          "name": "United Kingdom"
        },
        "defaultAddress": false,
        "email": "mobifyqa@gmail.com",
        "firstName": "Donald",
        "formattedAddress": "333 Rosewood Dr, Liverpool, 83920, United Kingdom",
        "id": "8796659580951",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "postalCode": "83920",
        "shippingAddress": false,
        "title": "Ms.",
        "titleCode": "ms",
        "town": "Liverpool",
        "visibleInAddressBook": true
      },
      "cardNumber": "************1111",
      "cardType": {
        "code": "amex",
        "name": "American Express"
      },
      "defaultPayment": false,
      "expiryMonth": "01",
      "expiryYear": "2021",
      "id": "8796306473002",
      "saved": false,
      "subscriptionId": "MockedSubscriptionID"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "POST",
    "path": "/rest/v2/apparel-uk/users/current/orders?fields=FULL",
    "body": "cartId=00018399",
    "status": 201,
    "response": {
      "type": "orderWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018400",
      "deliveryAddress": {
        "country": {
          "isocode": "GB",
          "name": "United Kingdom"
        },
        "defaultAddress": false,
        "firstName": "Donald",
        "formattedAddress": "333 Rosewood Dr, Liverpool, Kent, 83920, United Kingdom",
        "id": "8796659613719",
        "lastName": "Duck",
        "line1": "333 Rosewood Dr",
        "postalCode": "83920",
        "region": {
          "countryIso": "GB",
          "isocode": "GB-KEN",
          "name": "Kent"
        },
        "shippingAddress": true,
        "title": "Ms.",
        "titleCode": "ms",
        "town": "Liverpool",
        "visibleInAddressBook": true
      },
      "deliveryCost": {
        "currencyIso": "GBP",
        "formattedValue": "£5.99",
        "priceType": "BUY",
        "value": 5.99
      },
      "deliveryItemsQuantity": 1,
      "deliveryMode": {
        "code": "standard-gross",
        "deliveryCost": {
          "currencyIso": "GBP",
          "formattedValue": "£5.99",
          "priceType": "BUY",
          "value": 5.99
        },
        "description": "3-5 business days",
        "name": "Standard Delivery"
      },
      "deliveryOrderGroups": [
        {
          "entries": [
            {
              "basePrice": {
                "currencyIso": "GBP",
                "formattedValue": "£20.21",
                "priceTyp[...]
  {
    "scope": "https://hybris.merlinspotions.com:443",
    "method": "GET",
    "path": "/rest/v2/apparel-uk/users/current/orders/00018400?fields=FULL",
    "body": "",
    "status": 200,
    "response": {
      "type": "orderWsDTO",
      "appliedOrderPromotions": [],
      "appliedProductPromotions": [],
      "appliedVouchers": [],
      "calculated": true,
      "code": "00018400",
      "deliveryAddress": {
        "country": {
          "isocode": "GB",
          "name": "United Kingdom[...]
