[
  {
    "scope": "https://mobify-tech-prtnr-na03-dw.demandware.net:443",
    "method": "GET",
    "path": "/s/2017refresh/dw/shop/v17_8/products/(1,2)?expand=availability%2Cprices%2Cvariations%2Cimages&all_images=true",
    "body": "",
    "status": 200,
    "response": {
      "_v": "17.8",
      "_type": "product_result",
      "count": 0,
      "total": 0
    },
    "rawHeaders": [
      "x-dw-request-base-id",
      "7Xa78KepgFt5AAAK",
      "Allow",
      "GET,HEAD,OPTIONS",
      "x-dw-version-status",
      "deprecated",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  }
]