[
    {
        "scope": "https://mobify-tech-prtnr-na03-dw.demandware.net:443",
        "method": "POST",
        "path": "/s/2017refresh/dw/shop/v17_8/customers/auth",
        "body": {
            "type": "credentials"
        },
        "status": 401,
        "response": {
            "_v": "17.8",
            "fault": {
                "arguments": {
                    "credentialType": "Authorization:Basic header"
                },
                "type": "AuthenticationFailedException",
                "message": "Customer authentication based on Authorization:Basic header failed."
            }
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "sTQ2nRUqQ11kAAAK",
            "Content-Type",
            "application/json;charset=UTF-8"
        ]
    }
]