[
    {
        "scope": "https://zzrf-001.sandbox.us01.dx.commercecloud.salesforce.com:443",
        "method": "POST",
        "path": "/s/RefArch/dw/shop/v20_4/customers/auth",
        "body": {
            "type": "credentials"
        },
        "status": 401,
        "response": {
            "_v": "20.4",
            "fault": {
                "arguments": {
                    "credentialType": "Authorization:Basic header"
                },
                "type": "AuthenticationFailedException",
                "message": "Customer authentication based on Authorization:Basic header failed."
            }
        },
        "rawHeaders": [
            "x-dw-request-base-id",
            "OgHOv3N_GF9QXzMK",
            "jweb",
            "y",
            "content-type",
            "application/json;charset=UTF-8"
        ]
    }
]