# MRT Target Settings Sample File
# This file shows a sample for creating a .env file to set/update/delete env vars on an MRT target
# MRT Target Settings Sample File
# Environment variables for MRT API PATCH /api/projects/{project_slug}/target/{target_slug}/env-var/

# Create an env var
SECRET_VAR=my-s3cret

# Update an existing var by simply setting the updated value for the var
SECRET_VAR=my-new-secret

# Delete an existing var by setting its value to null
SECRET_VAR=null

# =============================================================================
# NOTES
# =============================================================================

# See API for more details about supported properties:
# https://developer.salesforce.com/docs/commerce/pwa-kit-managed-runtime/references/mrt-admin?meta=projects_target_env_var_partial_update
