.DS_Store
*.tgz
dist/
package/
node_modules/
*.log
coverage/
packages/*/out
packages/*/docs/www
lerna-debug.log
.idea/
.vscode/
*.orig
/test-results/
/playwright-report/
/playwright/.cache/

# Build directories and distribution files
build/
**/build/
**/dist/
