// Margin Utilities
// ===


// Top margin
// ---

.u-margin-top-auto {
    margin-top: auto !important;
}

.u-margin-top-xs {
    margin-top: $very-small-space !important;
}

.u-margin-top-sm {
    margin-top: $small-space !important;
}

.u-margin-top {
    margin-top: $base-space !important;
}

.u-margin-top-md {
    margin-top: $medium-space !important;
}

.u-margin-top-lg {
    margin-top: $large-space !important;
}

.u-margin-top-xl {
    margin-top: $very-large-space !important;
}

.u-margin-top-massive {
    margin-top: $massive-space !important;
}




// Bottom margin
// ---

.u-margin-bottom-auto {
    margin-bottom: auto !important;
}

.u-margin-bottom-xs {
    margin-bottom: $very-small-space !important;
}

.u-margin-bottom-sm {
    margin-bottom: $small-space !important;
}

.u-margin-bottom {
    margin-bottom: $base-space !important;
}

.u-margin-bottom-md {
    margin-bottom: $medium-space !important;
}

.u-margin-bottom-lg {
    margin-bottom: $large-space !important;
}

.u-margin-bottom-xl {
    margin-bottom: $very-large-space !important;
}

.u-margin-bottom-massive {
    margin-bottom: $massive-space !important;
}


// Left margin
// ---

.u-margin-start-auto {
    margin-left: auto !important;
}

.u-margin-start-xs {
    margin-left: $very-small-space !important;
}

.u-margin-start-sm {
    margin-left: $small-space !important;
}

.u-margin-start {
    margin-left: $base-space !important;
}

.u-margin-start-md {
    margin-left: $medium-space !important;
}

.u-margin-start-lg {
    margin-left: $large-space !important;
}

.u-margin-start-xl {
    margin-left: $very-large-space !important;
}

.u-margin-start-massive {
    margin-left: $massive-space !important;
}


// Right margin
// ---

.u-margin-end-auto {
    margin-right: auto !important;
}

.u-margin-end-xs {
    margin-right: $very-small-space !important;
}

.u-margin-end-sm {
    margin-right: $small-space !important;
}

.u-margin-end {
    margin-right: $base-space !important;
}

.u-margin-end-md {
    margin-right: $medium-space !important;
}

.u-margin-end-lg {
    margin-right: $large-space !important;
}

.u-margin-end-xl {
    margin-right: $very-large-space !important;
}

.u-margin-end-massive {
    margin-right: $massive-space !important;
}


// auto margin
// ---

.u-margin-center {
    margin: 0 auto !important;
}
