// Example Header
// ===
//
// 1. This is set to allow for absolute position of the c-header__title
// 2. To keep the content in the center when at max-width
// 3. To set the title absolute in the center of the header
// 4. Allow horizontal scrolling in mega-menu align-items
// 5. Height of header bar to display nav under the header bar

.c-header {
    position: relative; // 1
    background-color: $ui-brand-color;
}

@include susy-breakpoint($large-breakpoint, $large-layout) {
    .c-header {
        justify-content: center; // 2
    }
}

@include susy-breakpoint($medium-breakpoint, $medium-layout) {
    .c-header__sheet {
        .pw-sheet__mask,
        .pw-sheet__inner {
            margin-top: $header-height; // 5
        }

        .pw-sheet__wrapper {
            box-shadow: none;
        }
    }
}

// Content
// ---

.c-header__content {
    width: 100%;
    max-width: $max-width;
}

// Title
// ---

.c-header__title {
    position: absolute; // 3
    left: 50%;

    transform: translateX(-50%);
}

// Nav Modal
// ---

.c-header__nav-modal {
    position: relative;

    min-height: $header-height;

    .pw-nav-header__slider-container {
        align-self: center;
        width: 100%;
    }

    .c-header__nav-modal-mobile {
        justify-content: flex-end;
        flex: 0 0 100%;
    }
}

// Navigation
// ---
.c-header__navigation {

    .pw-mega-menu-item {
        overflow-x: visible;

        &.pw--depth-1 {
            flex: 0 0 auto;
        }
    }

    .pw-list-tile__primary {
        cursor: pointer;

        &:hover {
            background-color: $neutral-10;
        }

        &:active,
        &:visited,
        &:focus {
            background-color: $neutral-20;
            color: $neutral-60;
        }
    }
}

@include susy-breakpoint($large-breakpoint, $large-layout) {
    .c-header__navigation {
        background-color: $brand-color;

        .c-header__navigation-megamenu {
            width: 100%;
            max-width: $max-width;
            margin: 0 auto;
        }
    }
}

// Logo
// ---

.c-header__logo {
    padding-left: $unit;
}
