// MegaMenuItem Theme
// ===

// MegaMenu root
// ---
//
// .pw-mega-menu-item_ {}

// Content
// ---

.pw-mega-menu-item__content {
    &.pw--depth-1 {
        color: $neutral-00;
        font-weight: $semi-bold-font-weight;
        text-align: center;
    }

    &.pw--depth-1.pw--active {
        background: $neutral-00;

        color: $secondary-brand-color;
    }

    &.pw--depth-2 {
        font-weight: $semi-bold-font-weight;
    }
}

// Children
// ---

.pw-mega-menu-item__children {
    &.pw--depth-0 {
        background: $brand-color;
    }

    &.pw--depth-1 {
        padding: $unit * 1.5;
    }
}
