// Visibility Utils
// ===
//
// Remove from flow but leave available to screen readers.

.u-visually-hidden {
    position: absolute !important;

    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
}
