// List Tile theme
// ===

.pw-list-tile {
    min-height: $tap-size;
}



// Content
// ---

.pw-list-tile__content {
    padding: $unit*1.5;

    &:nth-of-type(2n) {
        padding-left: 0;
    }
}



// Action
// ---

.pw-list-tile__action {
    min-width: $tap-size;

    text-align: center;
}
