// Feedback Theme
// ===


// Themes: Error
// ---

.pw-feedback.pw--error {
    color: $error-color;
}

// Themes: Success
// ---

.pw-feedback.pw--success {
    color: $success-color;
}


// Themes: Block
// ---

.pw-feedback.pw--block {
    min-height: $tap-size;
    padding: $unit*2;

    &.pw--success {
        background: $light-success-color;
    }

    &.pw--error {
        background: $light-error-color;
    }
}
