// Nav Slider
// ===

.pw-nav-slider {
    width: 100%;
    height: 100%;
}


// Modifier: sliding
// ---
// 1. Disable click when nav is sliding

.pw-nav-slider.pw--sliding * {
    pointer-events: none; // 1

}
