// Button
// ===
//
// 1. Display is set differently for buttons vs. anchors due to an issue with
//    "replaced elements". See here for more details:
//    http://stackoverflow.com/questions/19679337/why-are-not-all-flexbox-elements-behaving-like-flexbox-divs

.pw-button {
    display: inline-table; // 1
    min-width: $tap-size;
    min-height: $tap-size;
    padding: $unit;
    border: 0;

    background-color: transparent;

    -webkit-appearance: none;

    &.pw--anchor {
        display: inline-flex; // 1
        justify-content: center;
    }

    &::after,
    &::before {
        border-top: 1px solid $neutral-20;
    }
}
