// Box Shadow
// ===

.u-box-shadow {
    box-shadow: $box-shadow;
}

.u-box-shadow-inset {
    box-shadow: $inset-box-shadow;
}

.u-box-shadow-lg {
    box-shadow: $large-box-shadow;
}

.u-box-shadow-input {
    box-shadow: $input-box-shadow;
}
