// Display
// ===


// Display: Block
// ---

.u-display-block {
    display: block;
}


// Display: Inline Block
// ---

.u-display-inline-block {
    display: inline-block;
}


// Display: Inline
// ---

.u-display-inline {
    display: inline;
}


// Dispaly: Inline Table
// ---

.u-display-inline-table {
    display: inline-table;
}


// Display: None
// ---

.u-display-none {
    display: none;
}
