// Price Theme
// ===


// Price Current
// ---

.pw-price__current {
    color: $neutral-60;
    font-weight: $semi-bold-font-weight;

    + .pw-price__previous {
        margin-left: $sub-unit;
    }
}


// Price Previous
// ---

.pw-price__previous {
    color: $neutral-40;
    font-weight: $regular-font-weight;
    font-size: $smaller-font-size;
    text-decoration: line-through;
}


// Modifier Reduced price
// ---

.pw-price__current.pw--reduced {
    color: $sale-color;
}
