// Tile Theme
// ===


// Tile Options and Quantity
// ---

.pw-tile__options,
.pw-tile__quantity {
    color: $neutral-50;
    font-size: $smaller-font-size;
}


// Tile Title
// ---

.pw-tile__title {
    color: $neutral-60;
}
