// Callout Component
// ===


// Standard callout
// ---

.c-callout {
	box-shadow: -4px 0 0 0 #005C83;
    background-color: #F0F7F9;
    font-size: 16px;
    padding: $base-space $base-space*2 $base-space $base-space*3;
}

.c-callout:before {
    background-image: url('../icons/icon-info.svg');
    background-repeat: no-repeat;
    background-size: $medium-space;
    content: '';
    float: left;
    height: $medium-space;
    margin-left: -$base-space*2;
    margin-top: 1px;
    width: $medium-space;
}

.c-callout:after {
    content: ' ';
    clear: both;
    display: table;
}

// Important callout
// ---

.c-callout.c--important {
    box-shadow: -4px 0 0 0 #DC0A3C;
    background-color: #FFF8F7;
}

.c-callout.c--important:before {
    background-image: url('../icons/icon-warning.svg');
}