// Animations
// ===

// Background Shimmer
// ---

@keyframes background-shimmer {
    0% {
        background-position: 150vw 0;
    }

    100% {
        background-position: -150vw 0;
    }
}

// Pulse Animation
// ---

@keyframes inline-loader-pulse {
    40% {
        opacity: 1;

        transform: scale(1);
    }

    0%,
    80%,
    100% {
        opacity: 0;

        transform: scale(0);
    }
}
